.bg-brownish{
    background-color: #523906;
}
.bg-light-yellow{
    background-color: #FFFA4D;
    /* background-color: #e8f044; */
    /* background-color: #f5fcc1; */
    /* background-color: #F2EE78; */
}
.bg-mustard-yellow{
    background-color: #fbff00;
}